@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');

:root {
	--body-color:  #FFF;
  --container-color: #FFF;
	--container-color-alt:  #FFFAF2;
  --container-color-alt2: #FFECE4;
	--text-color:  #333;
  --shadow-dark: #333;
  --text-color-light: #EEE;
	--theme-color: #C66C49;
  --theme-color-light: #F5D6AB;
  --theme-color-dark: #8B4136;
  /* rgb(139,65,54); */

    
	--body-font:  'Libre Franklin', sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 1.8rem;
  --bigger-font-size: 1.4rem;
  --big-font-size: 1.2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1.080rem;
  --h5-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-normal:  400;
  --font-medium:  500;
  --font-semi-bold:  600;

  --z-tooltip:  10;
  --z-fixed:  100;
  --z-modal:  1000;

  --m-left: -180%;
  /* // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... } 
  
  @media (min-width: 576px) { }
  @media (min-width: 768px) { }
  @media (min-width: 992px) { }
  @media (min-width: 1200px) { }
  
  */


  --xs-height: 100vh;
  --sm-height: 100vh;
  --md-height: 64vh;
  --lg-height: 64vh;
  --xl-height: 56;
  --section-height: var(--xs-height);
}

@media (min-width: 992px) {
  :root {
    --big-font-size: 1.6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.180rem;
    --h5-font-size: 1.100rem;
    --normal-font-size: 1rem;
    --small-font-size: .975rem;
    --smaller-font-size: .813rem;
  }
}

@media (min-width: 1200px) { 
  :root {
    --big-font-size: 2rem;
    --h1-font-size: 2.8125rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.5625rem;
    --h4-font-size: 1.360rem;
    --h5-font-size: 1.275rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1.21875rem;
    --smaller-font-size: 1rem;
  }
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  color: var(--text-color);
  background-color: var(--container-color-alt2);
}

h1 { font-size: var(--h1-font-size);}
h2 { font-size: var(--h2-font-size);}
h3 { font-size: var(--h3-font-size);}
h4 { font-size: var(--h4-font-size);}
h5 { font-size: var(--h5-font-size);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
} 

iframe {
  min-height: 400px;
  width: 100%;
  height: 100%;
}

.xs--padded {
  /* 
  triggered at 360px ::
  
  padding-left: 24px;
  padding-right: 24px; */
}

.btn--link {
  padding: .5em 1em;
  border-radius: .2rem;
  background-color: var(--theme-color);
  font-size: var(--normal-font-size);
}

/* override input:focus border color */
.form-control:focus {
  border-color: var(--theme-color-light);
  box-shadow: inset 0 0 2px 1px var(--theme-color-dark);
}

.content__frame {
  padding: 2.4rem 0 1.8rem;
  margin: 0 auto;
}

.section:nth-child(odd) {
	background-color: var(--container-color-alt);
}

.section:nth-child(even) {
	background-color: var(--container-color);
}

.section__title {
	font-size: var(--h1-font-size);
  color: var(--theme-color-dark);
  font-weight: var(--font-medium);
}

.section__subtitle {
	display:  block;
	font-size:  var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--theme-color);
  padding: 0 1.6rem;
  margin-bottom: 2rem;
}

.section__title,
.section__subtitle {
	text-align:  center;
}

@media (max-width: 360px) {
  .xs--padded {
      padding-left: 24px;
      padding-right: 24px;
  }
}
@media (min-width: 576px) {
  .xs--padded { }

  .content__frame {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

/* ======================= extra ======================================*/

#btnBackToTop {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: var(--z-modal);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  border: none;
  outline: none;
  background-color: rgba(139,65,54,0.5);
  color: var(--text-color-light);
  cursor: pointer;
  padding: .128rem .7rem;
  border-radius: 6px;
}

#btnBackToTop:hover {
  background-color: var(--theme-color-dark);
  color: var(--theme-color-light);
}

#btnBackToTop.button--show {
  display: block;
}

/* ======================= navbar ============================================*/
.navbar {
  background-color: #222;
}

.navbar a,
.navbar .toggler__icon {
  /* color: #fff; */
  color: var(--theme-color-light);
}

.navbar a:hover,
.navbar .toggler__icon:hover {
  text-decoration: none;
  color: var(--theme-color);
}

.navbar .brand {
  font-size: var(--big-font-size);
  padding: .25rem .75rem;
}

.navbar .nav__link {
  margin: .312rem 0;
}

@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
/* ======================= home / carousel ====================================*/
.home {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom left, var(--theme-color) 51%, var(--theme-color-dark) 100%);
  color: var(--theme-color-light);
  position: relative;
}

.home a {
  color: var(--text-color-light);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.708s ease;
}

.home .carousel-inner {
  /* min-height: 32rem !important; */
  max-height: 56rem !important;
  width: 100%;
}

.container--hero {
  font-size: var(--font-normal);
}

.container--hero h1 {
  /* font-size: var(--h1-font-size); */
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.6666rem;
  text-shadow: -0.12em 0.12em 0.2em var(--shadow-dark);
}

.caption--hero {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.36);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.caption--hero .container {
  position: relative;
  height: 100%;
  font-size: var(--small-font-size);
}

.caption--hero .btn--hero {
  font-size: var(--smaller-font-size);
  color: var(--theme-color-light);
  background-color: var(--theme-color); 
  border-radius: 0;
  text-shadow: 0 0.12em 0.12em var(--shadow-dark);
  box-shadow: 0 0.12em 0.12em var(--shadow-dark);
}

.caption--hero .btn--hero:hover {
  background-color: var(--theme-color-light);
  color: var(--theme-color);
  text-shadow: none;
}

.carousel .carousel-item {
  position: relative;
}

.carousel .caption__link {
  display: inline-block;
  padding: 0 .5rem;
  color: var(--theme-color-light);
  text-shadow: 0.12em 0.12em 0.12em var(--shadow-dark);
}

.carousel .caption__link:hover {
  color: var(--theme-color);
}

.caption--fluid {
  position: absolute;
  width: 100%;
  bottom: 12%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);

  padding: 0.25em 1em;
  text-align: center;
}

.caption--fluid p {
  margin: 0;
  display: block;
}

.caption--fluid .caption__button {
  display: inline;
  background-color: var(--theme-color);
  padding: 0.5em 1em;
  text-shadow: 0 0.12em 0.12em var(--shadow-dark);
  box-shadow: 0 0.12em 0.12em var(--shadow-dark);
}

.caption--fluid .caption__button:hover {
  background-color: var(--theme-color-light);
  color: var(--theme-color);
  text-shadow: none;
}

.carousel .carousel-control {
  visibility: hidden;
}

.carousel .carousel-item img {  
  width: 100%;
  vertical-align: middle;
}

@media (min-width: 360px) {
  .caption--hero .container {
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
  }
  .caption--hero .btn--hero {
    font-size: var(--small-font-size);
  }
}
@media (min-width: 576px) {
  .caption--hero .container {
    height: 50%;
    font-size: var(--normal-font-size);
  }

  .caption--fluid {
    padding: 1em 1.2em;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .carousel .carousel-control {
    visibility: visible;
  }

  .caption--fluid p{
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .caption--fluid {
    padding: 1.2em 2.4em;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-item {
    max-height: 100%;
  }

  .home {
    background: none;
  }
}

/* ======================= about  ====================================*/
.about__content .profile__pic {
  min-width: 200px;
  width: 320px;
  display: block;
}

.about--icon {
  font-size: var(--bigger-font-size);
  color: var(--theme-color-dark);
}
.text--emphasis {
  color: var(--theme-color);
}
@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
/* ======================= skills  ====================================*/
.skills .skills__container {
  width: 100%;
}
.skills .skills__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills .skills__icon {
  margin-right: 0.75em;
  font-size: var(--bigger-font-size);
  color: var(--theme-color-dark);
}

.skills .skills__title {
  font-size: var(--h3-font-size);
}

.skills .skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--theme-color);
}

.skills .skills__list {
  padding: 0 2rem 2rem;
}

.skills .skills__name {
  font-size: var(--small-font-size);
}

.skills .skills__number {
  font-size: var(--smaller-font-size);
  color: var(--theme-color);
}

.skills__arrow {
  margin-left: auto;
  transition: .4s;
  font-size: var(--biggest-font-size);
}

.skills__close .skills__list {
  display: none;
  overflow: hidden;
}

.skills__open .skills__list {
  display: block;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(180deg);
}



@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) {
  .skills .skills__name {
    font-size: var(--normal-font-size);
  }
  .skills .skills__number {
    font-size: var(--small-font-size);
  }
 }
@media (min-width: 1200px) { }

/* ======================= tools / jumbo ====================================*/
.tools .jumbotron {
  /* background: linear-gradient(to bottom right, var(--theme-color-dark) 0%, var(--theme-color) 64%); */
  background: linear-gradient(to bottom right, var(--container-color-alt2) -22%, var(--theme-color-light) 96%);
  margin-bottom: 0;
}

.tools .tools-logo {
  width: 56px;
  border-radius: .25rem;
  opacity: 0.9; 
  -webkit-transition: all 360ms ease;	
  -moz-transition: all 360ms ease; 
  transition: all 360ms ease;   
  filter: contrast(100%); 
  -webkit-filter: contrast(100%); 
  filter: sepia(100%); 
  -webkit-filter: sepia(100%);
}

.tools .tools-logo:hover {
  filter: saturate(140%); 
  -webkit-filter: saturate(140%); 
  filter: contrast(110%); 
  -webkit-filter: contrast(110%); 
  box-shadow: 1px 1px 3px 1px var(--theme-color-dark);
}



@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { 
  .tools .tools-logo {
    width: 64px;
  }
}
@media (min-width: 1200px) {
  .tools .content__frame {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/*========================== projects ====================================*/


.projects__list .card {
  border-style: none;
  margin-bottom: 2rem;
  height: 100%;
}

.projects__list .card:hover {
  box-shadow: -1px 1px 7px var(--theme-color-dark);
}

.projects__list .card-title {
  color: var(--theme-color-dark);
  font-weight: var(--font-medium);
}

.projects__list .card-title .contribution {
  font-size: var(--normal-font-size);
  margin-left: .5rem;
}

.projects__list .card-link {
  color: var(--theme-color);
  cursor: pointer;
}

.projects__list .card-link:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


/* ======================= contact ====================================*/

.contact .btn--submit {
  background-color: var(--theme-color-dark);
  color: var(--text-color-light);
}

.contact .btn--submit:hover {
  background-color: var(--theme-color);
}

.typewriter p {
  /* trigger only on -sm screensize above */
}

.typewriter.run--animation p {
  /* visibility: visible;
  animation: 
    typing 2.4s steps(40, end),
    blink-caret .75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media (min-width: 576px) {
  .typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    visibility: hidden;
  }
  .typewriter.run--animation p {
    visibility: visible;
    animation: 
      typing 2.4s steps(40, end),
      blink-caret .75s step-end infinite;
  }
}
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }

/* ======================= footer ====================================*/
.footer {
  background-color: #333;
  color: var(--text-color-light);
}

.footer address * {
  color: var(--text-color-light);
}

.footer .brand {
  color: var(--theme-color);
  font-size: var(--biggest-font-size);
}

.footer .social__links {
  color: var(--theme-color-light);
  font-size: var(--biggest-font-size);
}

.footer .social__links:hover{
  color: var(--theme-color);
  text-decoration: none;
}



@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }


/* ======================= socket ====================================*/
.socket {
  border-top: 1px solid var(--theme-color);
  background-color: var(--text-color);
  color: var(--theme-color-light);
  font-size: var(--smaller-font-size);
  padding: 1rem 0;
}


@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
  .content__frame {
    max-width: 100ch;
  }
}